/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.media-outlet {
	padding-bottom: 7px;
	border-bottom: 2px solid grey;
}

.results .col-md-6 {
    border-bottom: 1px solid lightgray;
    height: 190px;
    margin-top: 10px;
}

.results .col-md-12 canvas {
    float: right;
}

.results {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.pos {
    /* background-color: seagreen; */
}

.neg {
    /* background-color: indianred; */
}

.pos h4 a,
.neg h4 a {
    /* color: white; */
}

#doughnutChart {
    float: right;
}