<template name="jumbotron">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <canvas id="doughnutChart"></canvas>
            <h1>Media Sentiment</h1>
            <p>This application retrieves and analyses the sentiment (negative or positive) of current news articles across several of the most-prominent Irish media outlets.</p>
            <!-- Search Box Wuz 'Ere -->
        </div>
    </div>
</template>