<template name="jumbotron">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <canvas id="doughnutChart"></canvas>
            <h1>Analyse Media Sentiment</h1>
            <p>Use this webapp to analyse the sentiment of Irish media outlets.</p>
            <!-- Search Box -->
            <form class="input-group searchbox">
                <input type="text" class="form-control" name="searchterm" placeholder="Search...">
		  <span class="input-group-btn">
			<!-- <button class="btn btn-success" type="button">Go!</button> -->
			<input class="btn btn-success" type="submit" value="Go!">
		  </span>
            </form><!-- /searchbox -->
        </div>
    </div>
</template>